@import "./utils/variables";
@import "./utils/mixins";


body {
  font-family: $font-txt;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.link {
  text-decoration: none;
  color: #000;
}
h1 {
  font-weight: $bold;
  margin: 0;
}
h2 {
  font-weight: 100;
}
/*loader*/
.center {
  position: fixed;
  height: 100%;
  width: $width;
  @include align-center;
  background-color: $clr-background;
  z-index: 1000;
  animation: fadeout 0s 3s forwards;
}
@keyframes fadeout {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.wave {
  width: 5px;
  height: 100px;
  background: $background-degrade;
  margin: 10px;
  border-radius: $border-radius;
  animation: wave 4s linear infinite;
  opacity: 1;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes wave {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/*page d'accueil*/
.logo-omf {
  @include center;
  padding: 16px;
  @include mobile-only {
    padding: 15px;
    @include column-center;
  }
}
.logo-omf img {
  @include mobile-only{
    padding: 15px;
    width: 160px;
   
  }
}

#search-section {
  @include column-center;
  background-color: $color-background;
  padding-bottom: 50px;

  .logo-search {
    @include align-center;
    padding-left: 70px;
  }
  .input-container {
    @include align-center;
    border: none;
    width: $width;
    height: 50px;
    background-color: $color-dark;
    box-shadow: 0px 5px 5px darken ($color-background, 2%) inset;
  }
  input {
    border: none;
    background-color: $color-dark;
    font-size: 16px;
    padding-left: 10px;
  }
  .presentation-sentence, .kicker {
    @include mobile-only {
      @include column;
      text-align: center;
      
    }
  }
  .presentation-sentence {
    @include mobile-only {
      font-size: 25px;
    }}
    .kicker {
      @include mobile-only{
        font-size: 16px;
      }
    }
  }


.button {
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  border: $color-dark;
  color: $clr-background;
  font-size: medium;
  width: 215px;
  border-radius: $br-button;
  position: relative;
  z-index: 1;
  background: $background-duo-reverse;
  box-shadow: $color-dark 0px 8px 30px;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      150deg,
      $color-secondary 50%,
      $color-primary 100%
    );
    opacity: 0;
    z-index: -1;
    transition: 500ms ease-in-out;
    box-shadow: gray 0px 8px 30px;
  }
  &:hover::after {
    opacity: 1;
    border-radius: $br-button;
  }
}
#fonctionnement-section {
  @include column;
  align-items: center;
  margin:16px;
  @include mobile-only {
    display: block;
  }
  .choice-list {
    @include flex;
    gap: 50px;
    list-style-type: none;
    padding: 20px;
    @include mobile-only {
      @include column;
    }
    & li::before {
      content: counter(step-counter);
      margin-right: 5px;
      background-color: $color-primary;
      color: $clr-background;
      padding: 3px 8px;
      border-radius: $border-radius;
      position: relative;
      left: -3%;
    }
  }
  .choice-item {
    @include flex;
    counter-increment: step-counter;
    margin-bottom: 10px;
    height: 70px;
    align-items: center;
    border-radius: $border-radius;
    background-color: $color-background;
    padding-right: 10px;
    position: relative;
    border: 1px solid $color-background;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-primary, 10%);
    }
  }
  .choice-item .fas {
    color: darken($color-dark, 30%);
    padding: 10px;

    &:hover {
      background-color: lighten($color-primary, 10%);
    }
  }
}
#restaurant-section {
  background-color: $color-background;
  width: auto;
  padding: 20px;

  .card-container {
    @include flex;
    justify-content: space-around;
    gap: 10px;
    @include mobile-only {
      @include column;
    }
  }

  .restaurant-card {
    @include column;
    background-color: $clr-background;
    position: relative;
    margin-bottom: 16px;
    border-radius: $border-radius;
    width: $width;
  }
  .new {
    background-color: $color-tertiary;
    position: absolute;
    right: 10px;
    margin-top: 15px;
    color: darken($color-tertiary, 50%);
    padding: 5px;
  }
  .description-picture {
    background-color: $clr-background;
    border-radius: $border-radius;
    margin-left: 16px;
    padding-bottom: 10px;
  }
  .picture img {
    height: 200px;
    object-fit: cover;
    width: $width;
    border-radius: 20px 20px 0px 0px;
  }
  .title {
    @include flex;
    margin: 0;
    font-size: 15px;
    font-weight: $bold;
    padding-top: 5px;
  }
  .logo-heart {
    @include flex;
    flex-direction: row-reverse;
    height: 5px;
    align-items: center;
    padding-right: 7px;
    font-size: 20px;
  }
}
/*footer*/
#end {
  background-color: #000;

  .footer-title {
    font-family: $font-logo;
    color: $clr-background;
    padding: 16px;
  }
  .footer-link,
  a {
    list-style-type: none;
    color: $clr-background;
    text-decoration: none;
  }
  .footer-item {
    @include flex;
  }
  .footer-list {
    @include column;
    gap: 15px;
  }
  .footer-link .fas {
    padding-right: 10px;
  }
}
/*page des restaurants*/

.start-back {
  @include flex;
  align-items: center;
  padding: 16px;

  .arrow {
    color: #000;
  }
  .start-logo {
    @include flex;
    justify-content: center;
    width: $width;
    height: 30px;
  }
}
.main-picture {
  width: auto;
  & img {
    object-fit: cover;
    width: $width;
    height: 300px;
  }
}
#menu-section {
  background-color: $color-background;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 60px;

  .menu-container {
    @include flex;
    column-gap: 30px;
    flex-wrap: wrap;
    padding: 0px 20px;
    @include mobile-only {
      @include column;
    }
  }
  .meal-section {
    width: 30%;
    animation: menutop 3s ease-in-out forwards;
    position: relative;
    opacity: 0;
    @include mobile-only {
      width: auto;
    }
  }
  .menu-title {
    font-family: $font-logo;
    @include flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: medium;
    margin-top: 16px;
    .logo-heart{
      align-self: center;
      font-size: large;
    }
  }
  .meal-title {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  .meal-list {
    list-style-type: none;
    padding-left: 0px;
  }
  .meal-item {
    @include flex;
    width: $width;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: $clr-background;
    border-radius: $border-radius;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .meal-name {
    @include column;
    width: $width;
    font-size: 15px;
  }
  h3,
  p {
    margin: 0;
  }
  .price {
    @include flex;
    align-self: flex-end;
    padding-right: 10px;
  }
  .confirmation-logo {
    @include flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    content: "";
    width: 20%;
    height: 70px;
    margin-right: -100px;
    background-color: $color-tertiary;
    color: $clr-background;
    border-radius: 0px 15px 15px 0px;
    transition: 500ms ease-in-out;
  }
  .meal-name:hover {
    @include ellipse;
  }
  .confirmation-logo:hover,
  h3,
  p {
   @include ellipse;
  }
  .meal-item:hover .confirmation-logo {
    margin-right: 0px;
  }
  .confirmation-logo:hover .meal-item {
    width: 80%;
    @include ellipse;
  }
  .confirmation-logo:hover .meal-name {
    @include ellipse;
    width: $width;
    
  }
  .meal-item:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  .fa-check-circle {
    transform: rotate(0);
    transition-duration: 1500ms;
  }
  @keyframes menutop {
    0% {
      bottom: 100%;
      transform: translateY(100%);
      opacity: 1;
    }
    50%,
    100% {
      top: 0;
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .meal-section:nth-child(2){
    animation-delay: .2s;
  }
  .meal-section:nth-child(3) {
    animation-delay: .3s;
  }
}
/*remplissage du coeur*/
.fa-heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
}  
  .fa-heart::after{
    content: "\f004";
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: $background-duo;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    font-weight: bold;
  }
    .fa-heart:hover::before{ 
      transform: scaleY(0);
    }
      .fa-heart:hover::after{
        opacity: 1;
        top: 0%;
        transition: .3s ease-in-out;
        animation: heart 3s ease-in-out forwards;
        transform: scaleY(1);
      }
        @include mobile-only{
          .fa-heart:active::after{
            opacity: 1;
            top: 0%;
            transition: .3s ease-in-out;
            animation: heart 3s ease-in-out forwards;
            transform: scaleY(1);
          }
        }
      
  

