
body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
  }
  h1{
      font-weight: 1000;
  }
.logo-omf{
    display: flex;
    justify-content: center;
}
.explore-button{
    border: none;
    color: #fff;
    font-size: medium;
    
    height: 50px;
    width: 215px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #cecece;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    }
.link{
    text-decoration: none;
    color: #000;
    }    
#end{
    background-color: #000;
  
}
.footer-title{
    font-family: "shrikhand", cursive;
    color: #fff;
    padding: 16px;
}
.footer-link, a{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
.footer-item{
    display: flex;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-link .fas{
    padding-right: 10px;
}


@media only screen and (max-width: 767px) { 
  .logo-omf img {
    padding: 15px;
    width: 160px;
  }
  #search-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f3f3f3;
      padding-bottom: 50px;
  }
  .input-container{
      display: flex;
      border: none;
      width: 100%;
      justify-content: center;
      background-color: #eaeaea;
  }
  input{
      border: none;
      background-color: #eaeaea;
      font-size: 16px;
      padding-left: 10px;
  }
  .logo-search{
      display: flex;
      align-items: center;
      background-color: #eaeaea;
      margin-left: 70px;
  }
  .presentation-sentence,.kicker{
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  .presentation-sentence{
      font-size: 25px;
      margin-bottom: 0px;
  }
  .kicker{
      font-size: medium;
  }
  #fonctionnement-section h1{
      padding: 20px;
  }
  
  .choice-list{
      display: flex;
      flex-direction: column;
      gap: 50px;
      list-style-type: none;
      padding: 20px;
  }
  
  .choice-item {
    counter-increment: step-counter;
    margin-bottom: 10px;
    height: 70px;
    border: 1px solid #f2f2f2;
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f2f2f2;
  }
  
  .choice-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    background-color: #9356DC;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 30px;
  }
  .choice-item .fas {
      color: gray;
      padding: 10px;
  }
  .choice-item:hover{
      background-color: #d6c6f4;
  }
  #restaurant-section{
      background-color: #f3f3f3;
      padding: 20px;
      width: auto;
  }
  .card-container{
      display: flex;
      flex-direction: column;
  }
  .restaurant-card{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin-bottom: 16px;
      border-radius: 20px;
  }
  .new{
      background-color: aquamarine;
      position: absolute;
      left: 75%;
      margin-top: 10px;
      color: darkgreen;
  }
  .picture img{
      object-fit: cover;
      width: 100%;
      height: 300px;
      border-radius: 20px 20px 0px 0px;
  }
  .description-picture{
      background-color: #fff;
      border-radius: 20px;
  }


  }

