
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.logo-omf{
  display: flex;
  justify-content: center;
}
.input-container{
  display: flex;
  border: none;
  width: 100%;
  justify-content: center;
  background-color: #eaeaea;
}
input{
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
  padding-left: 10px;
}
.logo-search{
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  margin-left: 70px;
}
#search-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
#fonctionnement-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choice-list{
  display: flex;
  gap: 50px;
  list-style-type: none;
  padding: 20px;
}
.choice-item {
  counter-increment: step-counter;
  margin-bottom: 10px;
  height: 70px;
  border: 1px solid #f2f2f2;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding-right: 10px;
  position: relative;
}
.choice-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  background-color: #9356DC;
  color: white;
  padding: 3px 8px;
  border-radius: 30px;
  position: relative;
  left: -3%;
}
.choice-item .fas {
    color: gray;
    padding: 10px;
}
.choice-item:hover{
  background-color: #b494db;
}
#restaurant-section{
  background-color: #f3f3f3;
  width: auto;
  padding: 20px;
}
.card-container{
  display: flex;
  justify-content: space-around;
  
}
.restaurant-card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  margin-bottom: 16px;
  border-radius: 20px;
  
}

.new{
  background-color: #99e2d0;
  position: absolute;
  width: 25%;
  left: 70%;
  text-align: center;
  margin-top: 15px;
  color: darkgreen;
}
.description-picture{
  background-color: #fff;
  border-radius: 20px;
  margin-left: 16px;
  padding-bottom: 10px;
}

.picture img{
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.arrow{
  color: #000;
}
.menu-title{
  font-family: "shrikhand", cursive;
}
.explore-button{
  border: none;
  color: #fff;
  font-size: medium;  
  height: 50px;
  width: 215px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #cecece;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  }

.link{
  text-decoration: none;
  color: #000;
  } 
       
#end{
  background-color: #000;

}
.footer-title{
  font-family: "shrikhand", cursive;
  color: #fff;
  padding: 16px;
}
.footer-link, a{
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}
.footer-item{
  display: flex;
}
.footer-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-link .fas{
  padding-right: 10px;
}

/*page d'accueil*/

@media only screen and (max-width: 600px) { 
.logo-omf img {
  padding: 15px;
  width: 160px;
}



.presentation-sentence,.kicker{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.presentation-sentence{
    font-size: 25px;
    margin-bottom: 0px;
}
.kicker{
    font-size: medium;
}
#fonctionnement-section{
  display: block;
}
#fonctionnement-section h1{
  padding: 20px;
  font-weight: 900;
}
.choice-list{
  display: flex;
  flex-direction: column;
}
.card-container{
  flex-direction: column;
}

.title{
    display: flex;
    margin: 0px;
    font-size: 15px;
    font-weight: 900;
    padding-top: 5px;
}
.logo-heart{
    display: flex;
    flex-direction: row-reverse;
    height: 5px;
    align-items: center;
    padding-right: 16px;
    font-size: 20px;
}
.location{
    display: flex;
    
    font-size: 15px;
}


/*page des restaurants*/

.start-back{
    display: flex;
    align-items: center;
    padding: 16px;
}
.start-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.main-picture{
    width: auto;
}
.main-picture img{
    object-fit: cover;
    width: 100%;
    height: 300px;
   
}
.menu-title{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: x-large;
}
#menu-section{
    background-color: #eaeaea;
    overflow: hidden;
}
.menu-container{
    padding: 0px 20px;
}
.meal-title{
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid #15DEA5;
    width: 10%;
    padding-bottom: 5px;
}
.meal-list{
    list-style-type: none;
    padding-left: 0px;
}
.meal-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 15px;
}
.meal-name, .price{
    font-weight: 900;
}
.price{
    display: flex;
    align-self: flex-end;
}


}


