@mixin mobile-only {
    @media screen and(max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  }
  
  @mixin flex {
    display: flex;
    
  }
  @mixin center {
    display: flex;
    justify-content: center;
    
  }
  @mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @mixin ellipse {
    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  